body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eaaaaa;
}


h1 {
  color: #3498db;
  font-size: 2.5em;
}


p {
  color: #031109;
}
a {
  color: #00B7FF;
}
